<div class="topPageBlock">
  <!-- CAROUSEL -->
  <div id="carousel" class="carousel slide carousel-fade mainCarousel" data-ride="carousel" data-interval="2000">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner innerCarousel">
      <div class="carousel-item active innerCarousel">
        <img class="d-block w-100 innerCarousel" src="../assets/images/vlisco.jpg" alt="First slide">
        <div class="carousel-caption d-none d-md-block">
          <h5>Image caption</h5>
          <p>This is a description of the caption.</p>
        </div>
      </div>
      <div class="carousel-item innerCarousel">
        <img class="d-block w-100 innerCarousel" src="../assets/images/airport.jpg" alt="Second slide">
      </div>
      <div class="carousel-item innerCarousel">
        <img class="d-block w-100 innerCarousel" src="../assets/images/tv4play.jpg" alt="Third slide">
      </div>
    </div>
    <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev" style="background-color: silver">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carousel" role="button" data-slide="next" style="background-color: silver">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
<div flLayout="column" fxLayoutGap="7px" fxLayoutGap.xs="0px" style="margin-bottom: 5rem">
  <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="7px" fxLayoutGap.sm="0px">
    <!-- VLISCO CARD -->
    <mat-card fxFlex>
      <mat-card-header class="colorCardHeader">
        <mat-card-title>Vlisco</mat-card-title>
        <mat-card-subtitle>E-commerce information</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="../assets/images/vlisco.jpg">
      <mat-card-content>
        <p>E-commerce with a colourful story.</p>
      </mat-card-content>
    </mat-card>
    <!-- AIRPORT CARD -->
    <mat-card fxFlex>
      <mat-card-header class="colorCardHeader">
        <mat-card-title>Copenhagen airports</mat-card-title>
        <mat-card-subtitle>Airport information</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="../assets/images/airport.jpg">
      <mat-card-content>
        <p>Knowing your customer in the digital age.</p>
      </mat-card-content>
    </mat-card>
    <!-- TV CARD -->
    <mat-card fxFlex>
      <mat-card-header class="colorCardHeader">
        <mat-card-title>TV4 play</mat-card-title>
        <mat-card-subtitle>TV channel information</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="../assets/images/tv4play.jpg">
      <mat-card-content>
        <p>From TV channel to leading content provider.</p>
      </mat-card-content>
    </mat-card>
  </div>
  <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="7px" fxLayoutGap.sm="0px">
    <!-- AUDI CARD -->
    <mat-card fxFlex>
      <mat-card-header class="colorCardHeader">
        <mat-card-title>Audi city</mat-card-title>
        <mat-card-subtitle>Virtual purchase information</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="../assets/images/audi-city.jpg">
      <mat-card-content>
        <p>How to purchase a realcar in a virtual store.</p>
      </mat-card-content>
    </mat-card>
    <!-- FOOD CARD -->
    <mat-card fxFlex>
      <mat-card-header class="colorCardHeader">
        <mat-card-title>Arla Foods</mat-card-title>
        <mat-card-subtitle>Dairy production information</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="../assets/images/arla-foods.jpg">
      <mat-card-content>
        <p>Dairy production in big data.</p>
      </mat-card-content>
    </mat-card>
    <!-- XYLEM CARD -->
    <mat-card fxFlex>
      <mat-card-header class="colorCardHeader">
        <mat-card-title>Xylem</mat-card-title>
        <mat-card-subtitle>Water technology information</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="../assets/images/xylem.jpg">
      <mat-card-content>
        <p>Helping the world's largest water technology provider solve the global water crisis through business
          transformation.</p>
      </mat-card-content>
    </mat-card>
  </div>
</div>