<mat-card class="topPageBlock blueTopPageBlock">
  <mat-card-header class="topPageBlockerWrapper">
    <mat-card-title>Our blogs</mat-card-title>
    <mat-card-subtitle>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil ea quisquam ipsam quos velit
      tenetur quibusdam asperiores error ad consequatur excepturi sequi quaerat, harum cupiditate molestias nesciunt
      amet!
      Blanditiis, laudantium?
    </mat-card-subtitle>
  </mat-card-header>
</mat-card>
<!-- BLOGS -->
<div class="mainContent">
  <mat-card>
    <mat-card-header class="colorCardHeader">
      <mat-card-title>Blog 1</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div fxFlex="10%" fxHide.xs="true" style="margin-right: 1rem">
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
      </div>
      <p fxFlex="100%">
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </mat-card-content>
    <mat-card-footer>
      <button class="submitButton" mat-raised-button matTooltip="Click to like this post.">Like</button>
      &nbsp;
      <button class="defaultButton" mat-raised-button matTooltip="Click to share this post.">Share</button>
    </mat-card-footer>
  </mat-card>
  <mat-card>
    <mat-card-header class="colorCardHeader">
      <mat-card-title>Blog 2</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div fxFlex="10%" fxHide.xs="true" style="margin-right: 1rem">
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
      </div>
      <p fxFlex="100%">
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </mat-card-content>
    <mat-card-footer>
      <button class="submitButton" mat-raised-button matTooltip="Click to like this post.">Like</button>
      &nbsp;
      <button class="defaultButton" mat-raised-button matTooltip="Click to share this post.">Share</button>
    </mat-card-footer>
  </mat-card>
  <mat-card>
    <mat-card-header class="colorCardHeader">
      <mat-card-title>Blog 3</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div fxFlex="10%" fxHide.xs="true" style="margin-right: 1rem">
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
      </div>
      <p fxFlex="100%">
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </mat-card-content>
    <mat-card-footer>
      <button class="submitButton" mat-raised-button matTooltip="Click to like this post.">Like</button>
      &nbsp;
      <button class="defaultButton" mat-raised-button matTooltip="Click to share this post.">Share</button>
    </mat-card-footer>
  </mat-card>
</div>