<mat-card class="topPageBlock blueTopPageBlock">
  <mat-card-header class="topPageBlockerWrapper">
    <mat-card-title>About us</mat-card-title>
    <mat-card-subtitle>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil ea quisquam ipsam quos velit
      tenetur quibusdam asperiores error ad consequatur excepturi sequi quaerat, harum cupiditate molestias nesciunt
      amet!
      Blanditiis, laudantium?
    </mat-card-subtitle>
  </mat-card-header>
</mat-card>
<div class="mainContent">
  <div class="subContent">
    <span class="subContentIconSpan" fxHide="false" fxHide.xs="true">
      <i class="material-icons subContentIcon">info</i>
    </span>
    <span>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil ea quisquam ipsam quos velit
      tenetur quibusdam asperiores error ad consequatur excepturi sequi quaerat, harum cupiditate molestias nesciunt
      amet!
      Blanditiis, laudantium?
    </span>
  </div>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic vitae laudantium vero quam nostrum ex quia
    consequatur
    culpa at dolorum eveniet voluptatem, reiciendis facere aperiam illo maiores qui voluptatum numquam.</p>
  <p>Soluta doloremque vero odio dignissimos facilis consequuntur cum error nostrum cumque voluptas at natus dolorem
    corporis dicta porro molestias, quod tenetur qui nobis delectus ipsum. Cupiditate in aut nisi voluptatem.</p>
  <p>Minima neque ab eligendi totam soluta tenetur fugiat voluptatem assumenda illo eaque dolore expedita
    exercitationem
    ex quidem consequatur temporibus vero repellendus iste tempore rem in, quae eius earum! In, maiores?</p>
  <p>Neque perspiciatis perferendis nesciunt quis inventore laudantium. Nihil quae non exercitationem, accusamus sint,
    a
    reprehenderit, et eaque molestias ullam maxime mollitia expedita laboriosam aspernatur iste dignissimos quasi nulla
    impedit odit.</p>
</div>